
node_modules/
/.vscode

!/openapi/

/openapi/*

!/openapi/cpp_client
/openapi/cpp_client/*
!/openapi/cpp_client/examples




!/openapi/java_client
/openapi/java_client/*
!/openapi/java_client/src
/openapi/java_client/src/*
!/openapi/java_client/src/main
/openapi/java_client/src/main/*
!/openapi/java_client/src/main/java
/openapi/java_client/src/main/java/*
!/openapi/java_client/src/main/java/examples

!/openapi/python_client
/openapi/python_client/*
!/openapi/python_client/examples